# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# Django
db.sqlite3
*.sqlite3
*.log

# Django static/media
/staticfiles/
/media/
/static/
/*.pot
*.mo
/requirements.txt/
# VS Code, PyCharm, and IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Migrations (optional, if you want to ignore them)
# **/migrations/
# !**/migrations/__init__.py

# Local settings
local_settings.py
.env
.env.*